/* Login Page */
/* --------------------------------------------------------------- */
.loginWrap {
    overflow: hidden;
    width: 400px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    color: #313131;
    background-color: #BCBCBC;
}
.loginTitle {
    padding-left: 12px;
    font-size: 17px;
    font-family: Georgia, serif;
    line-height: 50px;
    height: 50px;

    color: #FFFFFF;
    background-color: #7D7D7D;
}
.loginInnerWrap {
    overflow: hidden;
}
.loginInnerLeft {
    float: left;
    width: 33%;
    text-align: right;
    overflow: hidden;
    min-height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, serif;
    padding-right: 12px;
}
.loginInnerRight {
    overflow: hidden;
    min-height: 45px;
    line-height: 45px;
}
.loginIpLockedSpan {
    font-size: 13px;
    font-family: Georgia, serif;
}

/* Registration Page */
/* --------------------------------------------------------------- */
.registerPageWrap {
    overflow: hidden;
    width: 80%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    color: #313131;
    background-color: #BCBCBC;
}
.registerTitle {
    padding-left: 12px;
    font-size: 17px;
    font-family: Georgia, serif;
    line-height: 50px;
    height: 50px;

    color: #FFFFFF;
    background-color: #7D7D7D;
}
.registerInnerWrap {
    overflow: hidden;
    min-height: 50px;
}
.registerInnerWrap a:link, .registerInnerWrap a:visited, .registerInnerWrap a:active {
    color: #151515;
}
.registerInnerWrap a:hover {
    text-decoration: underline;
    color: #353535;
}
.registerInnerLeft {
    font-family: Georgia, serif;
    font-size: 15px;
    text-align: right;
    padding-right: 12px;
    float: left;
    width: 25%;
    overflow: hidden;
    min-height: 50px;
    line-height: 50px;

}
.registerInnerRight {
    overflow: hidden;
    min-height: 50px;
    line-height: 50px;
}

/* Enabled Document */
/* --------------------------------------------------------------- */
.formEnabledItem {
    padding-right: 9px;
    font-size: 11px;
    font-weight: bold;
    font-family: Georgia, serif;

    color: #646464;
}
.formEnabledItem a:link, .formEnabledItem a:visited, .formEnabledItem a:active {
    color: #646464;
}
.formEnabledItem a:hover {
    text-decoration: underline;
    color: #858585;
}
.formEnabledOverlay {
    overflow: hidden;
}
.formTitleOverlay {
    font-weight: bold;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding-top: 6px;
}
.formHelpOverlay {
    overflow: hidden;

}
.formHelpTitle {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding-top: 6px;
    padding-left: 6px;
}
.formHelpContent {
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 6px;
}
.formHelpContent a:link, .formHelpContent a:visited, .formHelpContent a:active {
    color: #646464;
}
.formHelpContent a:hover {
    text-decoration: underline;
    color: #858585;
}
/* Page Numbers */
/* --------------------------------------------------------------- */
.pageNumbersWrap {
    overflow: hidden;

    margin-top: 9px;
    margin-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 11px;
    font-family: Georgia, serif;

    color: #6e6e6e;
}
.pageNumbersLeft {
    width: 50%;
    float: left;
    overflow: hidden;
    line-height: 25px;
    font-size: 12px;
}
.pageNumbersRight {
    height: 25px;
    overflow: hidden;
    text-align: right;
}
.pageNumbersItem {
    display: inline-block;
    overflow: hidden;
    padding: 6px;
    margin-right: 2px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    color: #484848;


}
.pageNumbersItem:hover {
    background-color: #848484;
}

.pageNumbersItemUnselected {
    background-color: #acacac;
}
.pageNumbersItemSelected {
    background-color: #848484;
}

/* Header Menu */
/* --------------------------------------------------------------- */
.headerMenu {
    padding-left: 9px;
    padding-right: 9px;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-family: 'Alegreya SC', serif;

    background-color: #c1c1c1;
}
.headerMenuItem {
    padding-right: 12px;
}
.headerMenu a:link, .headerMenu a:visited, .headerMenu a:active {
    color: #151515;
}
.headerMenu a:hover {
    text-decoration: underline;

    color: #4f4f4f;
}

/* Header Guest Menu */
/* --------------------------------------------------------------- */
.headerGuestDiv {
    float: right;
    overflow: hidden;
    width: 300px;
    min-height: 50px;
    text-align: right;
    line-height: 50px;
    font-size: 12px;
    font-family: Georgia, serif;
}
.headerGuestDiv a:link, .headerGuestDiv a:visited, .headerGuestDiv a:active {
    color: #151515;
}
.headerGuestDiv a:hover {
    text-decoration: underline;

    color: #4f4f4f;
}

/* Header User Menu */
/* --------------------------------------------------------------- */
.headerUserWrap {
    float: right;
    overflow: hidden;
    width: 300px;
    min-height: 50px;
}
.headerUserDiv {
    float: center;
    line-height: 50px;
    font-size: 12px;
    font-family: Georgia, serif;
}
.headerUserDiv a:link, .headerUserDiv a:visited, .headerUserDiv a:active {
    color: #151515;
}
.headerUserDiv a:hover {
    text-decoration: underline;

    color: #4f4f4f;
}
.headerUserMenu {
    display: none;

    position: absolute;
    top: 50;
    z-index: 5;

    width: 300px;
    height: 100px;


    background-color: #151515;
}

/* Comments (Global) */
/* --------------------------------------------------------------- */
.commentWrap {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 9px;
    margin-bottom: 9px;

    overflow: hidden;

    border-top: 1px solid #dddddd;
    background-color: #FFFFFF;
}
.commentLeft {
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    width: 224px;
    float: left;

    border: 0px solid #151515;
}
.commentRight {
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;

    border: 0px solid #d52f26;
}
.commentAvatarDiv {
    text-align: center;
}
.commentUsername {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.commentUserTitle {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #5a5a5a;
}
.commentLeftSpacer {
    height: 3px;
}
.commentPosts {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    color: #9a9a9a;
}
.commentSP {
    text-align: center;
    font-size: 11px;
    line-height: 13px;

    color: #9a9a9a;
}
.commentDate {
    overflow: hidden;
    font-size: 12px;
    font-family: Georgia, serif;

    color: #5a5a5a;
}
.commentTopWrap {
    overflow: hidden;
    padding-bottom: 6px;
}
.commentTopRight {
    float: right;
    min-width: 100px;
    text-align: right;
    font-family: Georgia, serif;

    font-size: 12px;
    color: #5a5a5a;
}
.commentMessage {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, serif;
}
.commentSignature {
    font-family: Georgia, serif;
    font-size: 11px;
    margin-top: 15px;
    padding-top: 6px;
    width: 33%;

    color: #8c8c8c;
    border-top: 1px solid #a8a8a8;
}

/* Forum Thread */
/* --------------------------------------------------------------- */
.threadTitle {
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 9px;
    font-family: Georgia, serif;
    font-size: 28px;
}

/* Bread Crumbs */
/* --------------------------------------------------------------- */
.breadCrumbs {
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 9px;
    font-family: Georgia, serif;
    font-size: 12px;
}
.breadCrumbsSeperator {
    padding-left: 1px;
    padding-right: 1px;
}
.breadCrumbs a:link, .breadCrumbs a:active, .breadCrumbs a:visited {
    color: #a27e4f;
}
.breadCrumbs a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* Page, Header, Footer */
/* --------------------------------------------------------------- */
.pageWrap {
    min-height: 100%;
    position: relative;
}
.headerWrap {
    overflow: hidden;
}
.header {
    min-height: 50px;
    background-color: #ACACAC;
}
.headerLeft {
    overflow: hidden;
    padding-left: 9px;
}
.headerRight {
    padding-right: 9px;
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}
.headerTitle {
    line-height: 50px;
    font-size: 26px;
    font-family: 'Alegreya SC', serif;
}
.headerTitle a:link, .headerTitle a:visited, .headerTitle a:active {
    color: #151515;
}
.headerTitle a:hover {
    text-decoration: underline;

    color: #4f4f4f;
}
.footerDivider {
    height: 50px;
}
.footerWrap {
    overflow: hidden;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: #ACACAC;
}

/* Textarea Sizes */
/* --------------------------------------------------------------- */
.textarea_testmanhero {
    width: 500px;
    height: 180px;
}

/* Base */
/* --------------------------------------------------------------- */
* {
	margin: 0px;
}
html, body {
    margin: 0px;
    padding: 0px;
	height: 100%;
}
body, div, table, td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
    border: 0px;
}
a {
	text-decoration: none;
}
body {
    background-color: #D4D4D4;
}
iframe {
    display: block;
    max-width: 100%;
}
.strike { text-decoration: line-through; }
.fb { font-weight: bold; }
.fu { text-decoration: underline; }
.fi { font-style: italic; }
.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f19 { font-size: 19px; }
.f20 { font-size: 20px; }
.f21 { font-size: 21px; }
.f22 { font-size: 22px; }
.f23 { font-size: 23px; }
.f24 { font-size: 24px; }
.code {
    font-family: monospace;
    display: block;
}
.button, .submit {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
    border: 0px;

    background-color: #FFFFFF;
}
.input, .dropdown {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;

	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;

    border: 0px;

    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}
.textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;

	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    padding: 6px;
    display: table-cell;
}
